{% extends 'base.html.twig' %}

{% block title %}Crear Tarea{% endblock %}

{% block body %}
    <h2 class="mt-4">Crear tarea</h2>
    {# Hacer include de la vista que corresponde #}
    {% include 'comunes/_mensajes.html.twig' %}
    {% include 'comunes/_formulario.html.twig' with {'accion': path('app_crear_tarea_servicio')} %}
{% endblock %}