{% extends 'base.html.twig' %}

{% block title %}Editar Tarea{% endblock %}

{% block body %}
    <h2 class="mt-4">Editar tarea</h2>
    {# Hacer include de la vista que corresponde #}
    {% include 'comunes/_mensajes.html.twig' %}
    {# path para devolver ruta #}
    
    {# opcion con parámetros #}
    {% include 'comunes/_formulario.html.twig' with {'accion': path('app_editar_tarea_servicio', {'id': tarea.id}), 'etiqueta_btn_enviar': 'Editar'} %}
    {# {% include 'comunes/_formulario.html.twig' with {'accion': path('app_editar_tarea', {'id': tarea.id}), 'etiqueta_btn_enviar': 'Editar'} %} #}

{% endblock %}
